<p class="alert alert-info">
  Update
  <a
    target="_blank"
    href="https://github.com/theironyard/newline_cli#getting-started">
    newline_cli
  </a>
  and
  Install
  <a
    target="_blank"
    href="https://github.com/TIYDC/newline-hw#installation">
    newline_hw
  </a>
  to clone homework locally!
</p>

<h5>Requirements</h5>
<ul>
  <li>Ruby 2.3.0 or greater</li>
  <li>
    <a
      target="_blank"
      href="https://github.com/theironyard/newline_cli#getting-started">
      newline_cli
    </a>
    0.2.5 or greater
  </li>
  <li>
    <a
      target="_blank"
      href="https://github.com/TIYDC/newline-hw#installation">
      newline_hw
    </a>
    1.1.2 or greater
  </li>
  <li>macOS Sierra or greater</li>
</ul>
