<div class="row">

  <div id="diagnostic" class="col-md-6">

  </div>

  <div id="instructions" class="col-md-6">
    <img src="https://cloud.githubusercontent.com/assets/243989/21752414/6c730c10-d5a5-11e6-8d1d-2d021f87cc36.gif" alt="newline_hw_demo_masked" style="max-width:100%;">

    <h6>Assignments</h6>
    <p>On an assignment page, NewlineHW will generate a link for each submissin.   This link will either trigger a clone, or be an external link (assuming the submitted homework is something like a codepen)</p>

    <h6>Submissions</h6>
    <p>On an submissin page, NewlineHW will generate a link for the submission, near the top of the page.</p>

    <h6>Upgrading</h6>
    <p>Run the following command to upgrade newline_hw</p>
    <pre><code>$ newline_hw upgrade</code></pre>
  </div>
</div>
