<div class="row">

  <div class="col-md-6">
    <p>This allows for easy cloning of PR's, Git Repos, Gists, and various other git related links from inside of Newline.  For full documentation please read more about the underlying tool newline_hw <a href="https://github.com/TIYDC/newline_hw#newlinehw">here</a>. </p>

    <h6>Installation</h6>
    <ol>
      <li>macOS Sierra or greater</li>
      <li>Ruby 2.3.0 or greater</li>
      <li>
        Install
        <a
          target="_blank"
          href="https://github.com/theironyard/newline_cli#getting-started">
          newline_cli
        </a>
        0.2.5 or greater
      </li>
      <li>Log in to NewlineCLI</li>
      <li>
        Install
        <a
          target="_blank"
          href="https://github.com/TIYDC/newline-hw#installation">
          newline_hw
        </a>
        1.1.4 or greater
        <br>
        <strong>IMPORTANT</strong> Follow <a
          target="_blank"
          href="https://github.com/TIYDC/newline-hw#installation">
          newline_hw
        </a> install instructions!
      </li>
    </ol>

  </div>

  <div id="instructions" class="col-md-6">
    <img src="https://cloud.githubusercontent.com/assets/243989/21752414/6c730c10-d5a5-11e6-8d1d-2d021f87cc36.gif" alt="newline_hw_demo_masked" style="max-width:100%;">
  </div>

</div>
