<main class='tiyo-assistant'>
    <a class='tiyo-assistant-close' href='#'><i class='fa fa-close fa-lg' aria-hidden="true"></i></a>
    <h1>TIYO Assistant</h1>

    <section class='tiyo-assistant-actions'>
        <button type="button" class="btn btn-primary" id="display-gradebook">Gradebook</button></li>
        <button type="button" class="btn btn-secondary" id="generate-score-card" name="generateScoreCard">Refresh GB</button></li>
    </section>
    <section class='tiyo-assistant-content'></section>
</main>
