
<nav class='tiyo-assistant-search'>
    <button class='btn btn-secondary btn-sm tiyo-assistant-search-refresh'>Refresh Index</button>
    <p class='tiyo-assistant-search-age'>(Index created <time></time>)</p>
</nav>

<form action='' method='get' class='tiyo-assistant-search'>
    <input type='text' name='query' placeholder='Search query...' required>
    <input type='submit' value='Search' class='btn btn-primary'>
</form>

<section class='tiyo-assistant-search-results'>
    <ul></ul>
</section>
