
<form class='tiyo-assistant-copy-to-path' action='' method='post'>
    <input type='text' name='path-id' placeholder='Path ID' required pattern='^\d+$'>
    <button type='submit' class='btn btn-info btn-sm'>Copy Tags</button>
    <button class='btn btn-info btn-sm tiyo-assistant-show-copy'>Copy Tags to Path</button>
</form>

<nav class='tiyo-assistant-search'>
    <button class='btn btn-secondary btn-sm tiyo-assistant-search-refresh'>Refresh Index</button>
    <p class='tiyo-assistant-search-age'>(Index created <time></time>)</p>
</nav>

<form action='' method='get' class='tiyo-assistant-search'>
    <input type='text' name='query' placeholder='Search query...' required>
    <input type='submit' value='Search' class='btn btn-primary'>
</form>

<section class='tiyo-assistant-search-results'>
    <ul></ul>
</section>
