main.tiyo-assistant {
    display: none;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 0.2em;
    padding: 1em;
    margin-bottom: 1em;
    overflow: hidden;
}

.tiyo-assistant-module {
    display: none;
}
