main.tiyo-assistant {
    /*display: none;*/
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    background-color: #eee;
    border: 1px solid #336;
    border-radius: 0.5em;
    box-shadow: 2px 3px 3px #444;
    z-index: 999;
}
