main.tiyo-assistant {
    display: none;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: 0.2em;
    padding: 1em;
    margin-bottom: 1em;
    overflow: hidden;
    width: 100%;
}

.tiyo-assistant-module {
    display: none;
}
