.tiyo-assistant .table th, .tiyo-assistant .table td  {
  font-size: 0.5em;
  padding: 0.4rem !important;
}

.tiyo-assistant table td.u {
  background-color: #e74c3c;
}

.tiyo-assistant table td.i {
  background-color: #e74c3c;
}

.tiyo-assistant table td.e {
  background-color: #6fbbb7;
}

.tiyo-assistant table td.s {
  background-color: #6fbbb7;
}

.tiyo-assistant table td.grade a {
  color:white;
}
