.tiyo-assistant {
    table.table {
        td,
        th {
            font-size: 0.5em;
            position: relative;
            &.u {
                background-color: #e74c3c;
            }
            &.g {
                background-color: blue;
            }
            &.i {
                background-color: #e74c3c;
            }
            &.e {
                background-color: #6fbbb7;
            }
            &.s {
                background-color: #6fbbb7;
            }
            &.grade a {
                display: block;
                width: 100%;
                padding: 0.4rem !important;

                color: white;
            }
            &[data-tooltip]:hover::after, &[data-tooltip]:focus::after {
                content: attr(data-tooltip);
                padding: 4px 8px;
                background-color: black;
                box-shadow: 1px 2px 2px #333;
                color: white;
                position: absolute;
                top: -90%;
                right: 0;
                white-space: nowrap;
                z-index: 3;
                border-radius: 2px;
            }
        }
    }
}
