.tiyo-assistant {
    .grades{
        overflow-x: scroll;
        padding-top: 1em;
        margin-top: -1em;
    }
    table.table {
        .grade-percent {
            cursor: pointer;
        }

        td,
        th {
            border-right: 1px solid #F5F5F5;
            font-size: 0.6em;
            padding: 0;
            position: relative;
            text-align: center;
            &:nth-child(-n+2) {
                font-size: 0.8em;
                text-align: left;
            }
            &.u {
                background-color: #e74c3c;
            }
            &.g {
                background-color: blue;
            }
            &.i {
                background-color: #e74c3c;
            }
            &.e {
                background-color: #6fbbb7;
            }
            &.s {
                background-color: #6fbbb7;
            }
            &.none {
                min-width: 1em;
            }
            &.grade a, &.grade span {
                display: block;
                width: 100%;
                padding: 0.4rem !important;

                text-align: center;

                color: white;
            }
            &[data-tooltip]:hover::after, &[data-tooltip]:focus::after {
                content: attr(data-tooltip);
                padding: 4px 8px;
                background-color: black;
                box-shadow: 1px 2px 2px #333;
                color: white;
                position: absolute;
                top: -90%;
                right: 0;
                white-space: nowrap;
                z-index: 3;
                border-radius: 2px;
            }
        }
        td:first-child{
            white-space: nowrap;
        }
        a.title{
            display: block;
            font-size: 0;
            overflow: hidden;
            white-space: nowrap;
        }
        a.title:first-letter{
            display: block;
            visibility: visible;
            font-size: 0.6rem;
        }
    }
}
