nav.tiyo-assistant {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;

    ul {
        list-style: none;
        padding: 0;
        text-align: right;
    }

    li {
        display: inline-block;
        cursor: pointer;
        margin-right: 0.3em;
    }
}

.tiyo-assistant-close {
    display: inline-block;
    float: right;
}
